In [3]:
# Q1. . Create a python program to sort the given list of tuples based on integer value using a
# lambda function.

#[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [100]:
# define the list of tuples
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# sort the list based on the integer value using a lambda function
l.sort(key=lambda x:x[1], reverse=False)

# print the sorted list
print("Sorted list based on integer value in ascending order:")
print(l)

Sorted list based on integer value in ascending order:
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [101]:
# define the list of tuples
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# sort the list based on the integer value using a lambda function
l.sort(key=lambda x:x[1], reverse=True)

# print the sorted list
print("Sorted list based on integer value in descending order:")
print(l)

Sorted list based on integer value in descending order:
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [11]:
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)] 
sort = (lambda x: list[x]==0)

In [14]:
#Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
#lambda and map functions.

# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [90]:
l1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
map(lambda x: x**2, l)

In [91]:
print("squares of the numbers in the list l is: ")
list(map(lambda x: x**2, l1))

squares of the numbers in the list l is:

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
#Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
#lambda functions

#Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [92]:
l2=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
map(lambda x: str(x), l2)

In [93]:
print("After coverting list of int to tuple of strings,we get: ")
tuple(map(lambda x: str(x), l2))

After coverting list of int to tuple of strings,we get:

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [47]:
# Q4. Write a python program using reduce function to compute the product of a list containing numbers
# from 1 to 25.

In [49]:
from functools import reduce

In [94]:
print("result of computation of integers in the list: ")
l3=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
reduce(lambda x,y: x*y, l3)

result of computation of integers in the list:

15511210043330985984000000

In [51]:
#Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
#filter function.

# [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [95]:
l4=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
filter(lambda x: x%2==0 and x%3==0, l4)

In [96]:
print("after filtering the numbers in a given list that are divisible by 2 and 3, we get:")
list(filter(lambda x: x%2==0 and x%3==0, l4))

after filtering the numbers in a given list that are divisible by 2 and 3, we get:

[6, 60, 90, 120]

In [61]:
#Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
#function.

# ['python', 'php', 'aba', 'radar', 'level']

In [97]:
l5=['python', 'php', 'aba', 'radar', 'level']
filter(lambda x: x==x[::-1],l5)

In [98]:
print("list of palindromes:")
list(filter(lambda x: x==x[::-1],l5))

list of palindromes:

['php', 'aba', 'radar', 'level']